@model CommentManagement.Application.Conteract.Comment.EditCommet


@if (!Model.Confirmation)
{
    <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">
                    ×
                </span>
                </button>
            <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
            <h4 class="tx-danger mg-b-20">کامنت رد شده !</h4>
            <p class="mg-b-20 mg-x-20">@Model.Message</p>
            <br />
            <p>
                برای تایید این کامنت از دکمه زیر اقدام کنید.
            </p>
            <a asp-page-handler="Confirmation" asp-page="./Index" asp-route-id="@Model.Id" class="btn ripple btn-success pd-x-25" >تایید</a>
        </div>
    </div>
}
else
{
  <div class="modal-content tx-size-sm">
    <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button> <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
        <h4 class="tx-success tx-semibold mg-b-20">کامنت تایید شده !</h4>
        <p class="mg-b-20 mg-x-20">@Model.Message</p>
        <br />
        <p>
            برای رد این کامنت از دکمه زیر اقدام کنید.
        </p>
            <a asp-page-handler="ReJection" asp-page="./Index" class="btn ripple btn-danger pd-x-25">رد</a>
    </div>
</div>  
}


