<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>

    <title>@ViewData["Title"]</title>

    <partial name="_Meta" />


    <partial name="_Link" />


    <partial name="_Style" />

</head>

<body>


    <div class="page-wrapper">

        @await Component.InvokeAsync("Menu")

        @RenderBody()

        @await Component.InvokeAsync("Footer")

    </div>

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Sign in / Register Modal -->
    <partial name="_SigninModal" />



    <!-- Banner / DisCount -->
@*    <partial name="_BannersDiscount" />*@



    <!-- Plugins JS File -->
    <partial name="_Scripts" />

</body>


</html>